<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <nav  class="col-sm-3" id="myScrollspy" th:fragment="menu">
            <ul id="categories" class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205" >
                <li><a th:href="@{/events(type=MOVIE)}">Movie</a></li>
                <li><a  th:href="@{/events(type=SHOW)}">Show</a></li> 
                <li><a  th:href="@{/events(type=THEATER)}">Theater</a></li>
            </ul>
        </nav>
    </body>
</html>
