<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div class="col-sm-9" th:fragment="content">
            <form role="form" th:action="@{/buy}" th:object="${buyModel}" method="post">
                <div class="form-group">
                    <label for="name">name:</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" />
                    <label for="number">number:</label>
                    <input type="text" class="form-control" id="number" th:field="*{number}" />
                    <label for="date">date:</label>
                    <input type="text" class="form-control" id="date" th:field="*{date}" />
                    <label for="code">code:</label>
                    <input type="text" class="form-control" id="code" th:field="*{code}" />
                    <label for="title">title:</label>
                    <input type="text" class="form-control" id="title" th:field="*{title}" value="${buyModel.title}"/>
                    <input type="hidden" class="form-control" th:field="*{eventID}" value="${buyModel.eventID}" />
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
                
            </form>
        </div>
    </body>
</html>
