<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div class="col-sm-6 col-md-4" th:fragment="content">
            <div class="container">
                <div class="col-sm-6 col-md-4" th:each="event : ${listEvents}"  >
                    <div class="thumbnail">
                        <img th:src="${event.image}" alt="..." />
                        <div class="caption">
                            <h3 th:text="${event.title}"></h3>
                            <p th:text="${event.description}"></p>
                            <p><a th:if="${user != null}" th:href="@{/buy(title=${event.title},id=${event.ID})}" class="btn btn-primary" role="button">Buy</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
